
	{{#with data}}
	<div class="block_logo_nav">
		<div class="logo">
			<span>{{brandName}}</span>
		</div>

		<nav class="nav">
			{{#each links}}
			<a href="{{url}}" class="nav_link_animation">{{text}}</a>
			{{/each}}
		</nav>
	</div>

	{{>divider}}

	<div class="nav_under">
		<div class="ad">
			<div class="ad_logo">
				<span class="ad_logo_text">Ad</span>
			</div>
			<div>
				<a class="nav_under_textlink_animation" href="{{ad.url}}">{{ad.text}}</a>
			</div>
		</div>

		<div>
			<span class="nav_under_text">userOnline:{{userOnline}}</span>

		</div>
		{{/with}}
	</div>
